<footer class="footer">
  <section class="container">
    <p>
      &copy; <%= Time.now.year %> <%= @model['site']['author'] %>.
      Az <%= @model['site']['name'] %> oldalon található rajzok a
      <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.hu" target="_blank">
        Creative Commons Nevezd meg! - Ne add el! - Ne változtasd! 4.0 Nemzetközi (CC BY-NC-ND 4.0)
      </a> licenc alatt vannak.
    </p>
  </section>
</footer>
